{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="my-4">{{ games.title }}</h2>
				<div style="box-shadow: 2px 3px 5px 4px rgba(0,0,0,0.04);">
					<div class="q-container-show p-3">
						<div class="row">
							<div class="col-3 text-center">
								<img src="{{ games.thumbnail }}" width="260" height="230">
							</div>
							<div class="col">
								<h1 class="title-show">Página del juego</h1>
								<div class="q-display p-1">
									<p class="pt-2">
										<strong>{{ games.GameUrl}}</strong>
									</p>
									<div class="q-container-show p-3">
										<div class="row">
											<h2 class="title-show m-3">Jugar</h2>
											<div class="q-display p-1">
												<p class="pt-4">
													<strong>{{ games.FreetogameProfileUrl}}</strong>
												</p>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				{% endblock %}
